    .cabtitulo{
        width: 40%;
        padding-left: 500px;
        padding-top: 30px;

    }

    .cabcasa{
        width: 3%;
        padding-left: ;
    }

    .cabhomen{
        width: 6%;
    }

    .cabmulher{
        width: 7%;
    }

    .cabnovida{
        width: 7%;
    }

    .cabpesquisa{
        width: 20%;
    }

    .cabbarra{
        width: 2px;
        height: 37px;
    }

    .cabbarra2{
        width: 2px;
        height: 37px;
    }

    .cabbarra3{
        width: 2px;
        height: 37px;
    }
